{%- extends "bootstrap/base.html" %}

{% block title %}Mikrotik SNMP Dashboard{% endblock %}

{% import "bootstrap/fixes.html" as fixes %}

{% block scripts %}
{%- endblock %}

{% block head %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {{ fixes.ie8() }}
{%- endblock %}

{% block styles -%}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
{% endblock %}

{% block navbar %}
    {{ nav.frontend_top.render() }}
{% endblock %}
