{% import "bootstrap/utils.html" as utils %}
{%- extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Interface statistics</h2>
    {% for _, interface in interfaces.items() %}
      <div class="table-responsive col-md-12">
          <h4><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{ interface.ifDescr[0] }}</h4>
          <table class="table table-striped">
          <tr>
            <td>MTU: {{ interface.mtu[0] }}</td>
            <td></td>
          </tr>
          <tr>
            <td>Type: {{ interface.type[0] }}</td>
            <td></td>
          </tr>
          <tr>
            <td>Speed(Bps): {{ interface.speed[0] }}</td>
            <td></td>
          </tr>
          <tr>
            <td>
              {% if interface.oper_status[0] == '1' %}
                Stan: <span class = "label label-success">up</span>
              {% else %}
                Stan: <span class = "label label-danger">down</span>
              {% endif %}
            </td>
          </tr>
          <tr>
            <td>Traffic: <br />
              <iframe width="420" height="270" src="http://127.0.0.1/render/?width=410&height=260&target=nonNegativeDerivative(interfaces.{{ interface.ifDescr[0] }}.octets_in)&target=nonNegativeDerivative(interfaces.{{ interface.ifDescr[0] }}.octets_out)&from=-3hours"></iframe></iframe>
            </td>
            <td>Packets: <br />
              <iframe width="420" height="270" src="http://127.0.0.1/render/?width=410&height=270&target=nonNegativeDerivative(interfaces.{{ interface.ifDescr[0] }}.packets_in)&target=nonNegativeDerivative(interfaces.{{ interface.ifDescr[0] }}.packets_out)&from=-3hours"></iframe></iframe>
            </td>
          </tr>
          </table>
      </div>
      {% endfor %}
</div>
{% endblock %}
