{% import "bootstrap/utils.html" as utils %}
{%- extends "base.html" %}
{% block content %}

{%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
        <div class="row">
            <div class="col-md-12">
                {{ utils.flashed_messages(messages) }}
            </div>
        </div>
    {%- endif %}
{%- endwith %}
<div class="container">
  <h2>Router Overview</h2>

  <div class="table-responsive col-md-12">
      <table class="table table-striped">
        <tr>
          <td>Router name: {{ sysinfo.sysName[0] }}</td>
        </tr>
        <tr>
          <td>Description: {{ sysinfo.sysDescr[0] }}</td>
        </tr>
        <tr>
          <td>Uptime: {{ sysinfo.sysUptime[0] }}</td>
        </tr>
        <tr>
          <td>RAM (KBytes): {{ sysinfo.hrMemorySize[0] }}</td>
        </tr>
        <tr>
          <td>Location: {{ sysinfo.sysLocation[0] }}</td>
        </tr>
        <tr>
          <td><a class="btn btn-danger" href="/restart_router">Restartuj router</a></td>
        </tr>
      </table>
  </div>
  <div class="table-responsive col-md-12">
      <table class="table ">
        <tr>
          <h2>CPU Load</h2>
          <td><iframe width="920" height="410" src="http://127.0.0.1/render/?width=920&height=400&connectedLimit=&graphOnly=false&bgcolor=FFFFFF&from=-1hours&target=percentileOfSeries(processor.load%2C95)&target=processor.load"></iframe></td>
        </tr>
        <tr>
          <td>
            <h2> RAM </h2>
            <iframe width="920" height="410" src="http://127.0.0.1/render/?width=920&height=410&from=-3hours&target=alias(scale(color(memory.size%2C%22cyan%22)%2C1024)%2C%22memory%20size%22)&target=alias(scale(color(memory.used%2C%22red%22)%2C1024)%2C%22memory%20used%22)"></iframe>
          </td>
        </tr>
        <tr>
          <td>
            <h2> Storage </h2>
            <iframe width="920" height="410" src="http://127.0.0.1/render/?width=920&height=410&from=-3hours&target=alias(scale(color(storage.size%2C%22cyan%22)%2C1024)%2C%22storage%20size%22)&target=alias(scale(color(storage.used%2C%22red%22)%2C1024)%2C%22storage%20used%22)"></iframe>
          </td>
        </tr>
      </table>
  </div>
</div>
{% endblock %}
