{% import "bootstrap/utils.html" as utils %}
{%- extends "base.html" %}

{% block content %}
<div class="container">
  <h2>Traps statistics</h2>

      <div class="table-responsive col-md-12">
          <table class="table table-striped">
            <tr>
              <th>
                if index
              </th>
              <th>
                description
              </th>
              <th>
                admin status
              </th>
              <th>
                operate status
              </th>
              <th>
                time
              </th>
            </tr>
          {% for trap in traps %}
              <tr>
                <td> {{ trap.ifindex }} </td>
                <td> {{ trap.ifdescr }} </td>

                {% if trap.operstatus == '1' %}
                  <td> <span class = "label label-success">up</span> </td>
                {% elif trap.operstatus == '2' %}
                  <td> <span class = "label label-danger">down</span> </td>
                {% else %}
                  <td> <span class = "label label-info">unknown</span> </td>
                {% endif %}

                {% if trap.adminstatus == '1' %}
                  <td> <span class = "label label-success">up</span> </td>
                {% elif trap.adminstatus == '2' %}
                  <td> <span class = "label label-danger">down</span> </td>
                {% else %}
                  <td> <span class = "label label-info">unknown</span> </td>
                {% endif %}
                <td> {{ trap.time }} </td>
              </tr>
          {% endfor %}
          </table>
      </div>

</div>
{% endblock %}
